<div class="comments">
    <div class="comment-header"></div>

    <ul>
        {{#each this}}
        <li>
            <section class="comment">
                
                <div class="text">
                    {{content}}
                </div>

                <div class="comment-meta">
                    -- By: {{user.username}} on {{created_at}}
                </div>
            
            </section>
        </li>
        {{/each}}
    </ul>

</div>